<div class="welcome-container">
    <h1>Welcome to Our Social Network!</h1>
    <p>This social network was built by a team as part of a group project given by the Business Application Development
        module.</p>
    <p>Developers' names involved in this project:</p>
    <ul class="developers-list">
        <li><span class="bullet">&#8226;</span> Sachanee</li>
        <li><span class="bullet">&#8226;</span> Yasinda</li>
        <li><span class="bullet">&#8226;</span> Sithumini</li>
        <li><span class="bullet">&#8226;</span> Darshana</li>
    </ul>
</div>