<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags and Stylesheets -->
    <!-- ... -->
    <title>BlogZone</title>
</head>

<body>
    <header class="site-header">
        <!-- Navbar -->
        <!-- ... -->
    </header>
    <main role="main" class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-12">
                <!-- Messages -->
                <!-- ... -->
                <!-- Content Block -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <!-- JavaScript -->
    <!-- ... -->
</body>

</html>