{% extends "Blog/base.html" %}
{% block content %}
<div class="container">
    {% if follow == 'follows' %}
    <div class="col-12 no-padding">
        <h3 class="white-important mb-3">
            Following
        </h3>
        <div class="container" style="border: 2px solid rgba(255, 255, 255, 0.2); border-radius: 10px; padding: 10px;">
            {% for follow in follows %}
            <div class="col-6 col-md-3 pl-0">
                <article class="media content-section">
                    <div>
                        <img class="rounded-circle mr-2" style="width: 50px; height: 50px;"
                            src="{{ follow.follow_user.profile.image.url }}">
                        <a class="mr-2 white-important" href="{% url 'user-posts' follow.follow_user.username %}">
                            {{ follow.follow_user.username }}
                        </a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% if follow == 'followers' %}
<div class="col-12 no-padding">
    <h3 class="white-important mb-3">
        Followers
    </h3>
    <div class="container" style="border: 2px solid rgba(255, 255, 255, 0.2); border-radius: 10px; padding: 10px;">
        <div class="row pr-3 pl-3">
            {% for follow in follows %}
            <div class="col-6 col-md-3 pl-0">
                <article class="media content-section">
                    <div>
                        <img class="rounded-circle mr-2" style="width: 50px; height: 50px;"
                            src="{{ follow.user.profile.image.url }}">
                        <a class="mr-2 white-important" href="{% url 'user-posts' follow.user.username %}">
                            {{ follow.user.username }}
                        </a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock content %}