{% extends "Blog/base.html" %}

{% block content %}
    {% load static %}
    <div class="container">
        <h4 class="white-important">Logout Confirmation</h4>
        <div class="pt-3">
            <p>Are you sure you want to log out?</p>
            <a class="btn btn-danger" href="{% url 'blog-about' %}">No, cancel</a>
            <a class="btn btn-secondary ml-2" href="{% url 'login' %}">Yes, Log in</a>
        </div>
        <div class="pt-3">
            <img src="{% static 'Blog\logo.png' %}" alt="Logo" class="logo" width="200px">
            <h6 class="logout-BlogZone">BlogZone</h6>
        </div>
        <div class="pt-3">
            <small class="text-muted">
              
            </small>
        </div>
    </div>
{% endblock content %}
