{% extends "Blog/base.html" %}

{% block content %}
    {% load static %}
    <div class="container">
        <h4 class="white-important">Logout Confirmation</h4>
        <div class="pt-3">
            <p>Are you sure you want to log out?</p>
            <button class="btn btn-danger" onclick="location.href='{% url 'blog-home' %}'">No, cancel</button>
            <a class="btn btn-secondary ml-2" href="{% url 'profile' %}">Yes, Logoutl</a>
        </div>
        <div class="pt-3">
            <img src="{% static 'Blog\logo.png' %}" alt="Logo" class="logo" width="200px">
            <h6 class="logout-BlogZone">BlogZone</h6>
        </div>


