{% extends "Blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container">
    <h3 class="white-important">
        Change Profile Data
        <hr>
        <img src="{% static 'Blog/profile.jpg' %}" alt="Logo" class="logo" width="600px">
    </h3>
    <form class="col-6 no-padding" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ uform | crispy }}
            {{ pform | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Change data</button>
        </div>
    </form>
</div>
{% endblock content %}